@import url('https://fonts.google.com/share?selection.family=Roboto:wght@900');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: white;
    font-family:Roboto sans-serif;
    color: #3a3a3a;
}

h1, h2{
    font-family:Roboto sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#logo{
    font-size:280%;
    float:left;
    text-decoration: none;
    color:inherit;
    text-transform:uppercase;
    padding-left:20px;
}
#menu{
    font-size:150%;
    letter-spacing:3px;
    padding-right:20px;
}
#menu, #logo{
    line-height:75px;
}

#menu li{
    float:right;
    list-style:none;
    margin-right:10px;
}
#menu a{
    text-decoration: none;
    color:inherit;
    padding-bottom:5px;
}

#menu li .active{
    border-bottom:1px solid #3a3a3a;
    font-weight:600;
}

#menu a:hover{
    border-bottom:1px solid #3a3a3a;
    padding-top:5px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#hero{
    height:600px;
    width:100%;
    background: url('../images/hero-image.webp') no-repeat center center;
}

.text-float,h3{
    color:white
}

.text-float{
    background-color: #25252585;
    width:300px;
    height:100px;
    padding:40px 20px 10px 20px;
    position:absolute;
    bottom:40px;
    right:150px;
}

#outer{
    width:100%;
    height:600px;
    overflow:hidden;
    position:relative;
}

#about-sect{
height:600px;
margin:30px;
}

#left-about{
    float:left;
    width:33%;
    padding-top:30px;
}
#center-about{
    width:33%;
    margin:0 auto;
    padding-top:30px;
}
#right-about{
    float:right;
    width:33%;
    padding-top:30px;
}

#left-head{
    float:right;
    width:60%;
    margin-bottom:50px;
    line-height:20px;
    clear:both;
}
#left-head p {
    text-align:left;
}
#left-head h2 {
    text-align:left;
}
#right-head p {
    text-align:right;
}
#right-head h2 {
    text-align:right;
}
hr {
    border-top:1px solid #3a3a3a;
    width:100%;
    margin:5px 0;
}

#right-head{
    float:left;
    width:60%;
    margin-bottom:50px;
    line-height:20px;
    clear:both;
}

#center-head{
    width:300px;
    height:300px;
    padding:30px;
    border-style:solid;
    border-width:1px;
    border-radius:50%;
    border-color: #ccc;
    margin:0 auto;
}

#center-image{
    background: url('https://codeinstitute.s3.amazonaws.com/CSSEssentials/ethos-center-image.jpg') no-repeat center center;
    height:100%;
    border-radius:50%;
}